@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

* {
  margin: 0px;
  padding: 0px;
  font: 20px 'Source Sans Pro', sans-serif;
  border: none;
  box-sizing: border-box;
}

html, body,.glass {
  text-align: center;
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
	background-image: url('http://res.cloudinary.com/thecodejedi/image/upload/v1490369649/colorful-building-blocks-for-kids-to-play-f4_yj84qy.jpg');
	background-size: cover;
}
.glass::before {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('http://res.cloudinary.com/thecodejedi/image/upload/v1490294668/crayons-879973_1920_kdor2d.jpg');
	background-size: cover;
	content: ' ';
	opacity: 0.4;
}
.glass{
	background-color: white;
}
.glass.down{
	transform: translateY(100%) translateY(-7rem);
}
.glass.down::before{
	transform: translateY(-100%) translateY(7rem);
}
.glass.up, .glass.up::before{
	transform: translateY(0);
}

#quiz {
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#quiz h1 {
  color: #34495e;
  font-weight: 600;
  font-size: 36px;
	font: bold 'Source Sans Pro';
  text-transform: uppercase;
  text-align: left;
  line-height: 44px;
}

#quiz button {
  float: right;
  margin: 8px 0px 0px 8px;
  padding: 4px 8px;
  background: #3498db;
  color: #00403C;
  font-size: 14px;
  cursor: pointer;
  outline: none;
	font-weight: bold;
}

#quiz button:hover {
  background: #e67e22;
  color: #FFF;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #e67e22;
  color: #00403C;
  cursor: default;
}

#question {
  padding: 20px;
  background: #FAFAFA;
	font: bold 'Source Sans Pro';
	font-size: 24px;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

#question input[type=radio] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 12px;
  background: #3498db;
  color: #34495e;
  width: calc(50% - 8px);
  min-width: 100px;
  cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
}

#question label:hover {
  background: #e67e22;
}

#question input[type=radio]:checked + label {
  background:#e74c3c;
  color: #FAFAFA;
}
#question correct {
	background: #2ecc71;
}
#question wrong {
	background: #e74c3c;
}

#quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 20px;
}

#quiz-results-score b {
  color: #00403C;
  font-weight: 600;
  font-size: 20px;
}
footer{
	font: 15px 'Source Sans Pro';
	font-weight: bold;
	color: #34495e;
	position: absolute;
	display: inline;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;

}

a{
	color: #34495e;
	font: 15px 'Source Sans Pro';
	font-weight: bold;	
}


/* https://codepen.io/gcarino/pen/LDgtn/ */